{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set class_block = 'block-basic' %}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'section-padding transition-scroll',
    class_block,
  ]
%}

{% set link_text = content.field_link[0]['#title'] %}
{% set link_url = content.field_link[0]['#url'] %}
{% set additional_link = content.field_additional_link[0]['#url'] %}
{% set additional_link_text = content.field_additional_link[0]['#title'] %}
{% set color_variation = content.field_color_variation['#items'].value %}

{% if color_variation %}
  {% set class_variation = class_block ~ "--bg-" ~ color_variation %}
  {% if color_variation != 'white' and color_variation != 'alabaster' and color_variation != 'yellow' and color_variation != 'clean' %}
    {% set class_variation = class_variation ~ " co-white" %}
  {% endif %}
{% endif %}

<section{{ attributes.addClass(classes, class_variation) }}>
  <div class="container">
    {{ title_prefix }}
    {% if label %}
      <h2 class="text-center"{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
      <div class="{{class_block}}__wrapper text-center w-100">
        {{ content.body }}
      </div>
      <div class="{{class_block}}__content-links d-flex justify-content-center">
        {% if link_url %}
          <div class="{{class_block}}__link me-3 mb-3">
            <a class="button-primary" href="{{ link_url }}" target="{{'pdf' in link_url|render|trim ? '_blank' : '_self'}}">{{ link_text }}
            </a>
          </div>
        {% endif %}
        {% if additional_link %}
          <div class="{{class_block}}__link">
            <a class="button-secondary" href="{{ additional_link }}"
              target="{{'pdf' in additional_link|render|trim ? '_blank' : '_self'}}">
              {{ additional_link_text }}
            </a>
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </div>
</section>
